body {
  margin: 0;
  background-color: #ddd;
}
.Container {
  width: 80%;
  margin: 0 auto;
  background-color: white;
  height: 100vh;
}

.main {
  padding: 35px 25px;
}

#result {
  margin-top: 15px;
}
