body {
  margin: 0;
  background-color: #ddd;
}
.Container {
  width: 80%;
  margin: 0 auto;
  background-color: white;
  height: 100vh;
}

@media (max-width: 900px) {
  .Container {
    width: 100%;
  }
}
